{% extends 'base.html' %}
  {% block content %}
    <span class="ml-3 text-xl">{{lenght}} products are in cart</span> 
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content">
          {% for i in item1 %}
            <div class="col-md-10 col-lg-8 col-xl-6 ">
              <div class="card mb-3">
                <div class="card-body">
                  <a href ="{% url 'productdetails' i.id%}" class='btn btn_primary '>
                    <h3 class='post-name'>
                      {{i.cname}} {{i.modelno}}
                    </h3>
                  </a>
                  <a href ="{% url 'productdetails' i.id%}" class='btn btn_primary'>
                    <img src="{{i.image.url}}" width="300"/>
                  </a>
                  <p class='post-text text-muted h6'>
                    ₹{{i.price}} | {{i.category}}
                  </p>
                  <a href="{% url 'order' i.id %}" class="btn btn-primary">
                    Purchase
                  </a>
                  <a href="{% url 'cancel' i.id %}">
                    <button class="btn btn-primary">Cancel</button>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
          {% for i in item2 %}
            <div class="col-md-10 col-lg-8 col-xl-6 ">
              <div class="card mb-3">
                <div class="card-body">
                  <a href ="{% url 'productdetails' i.id%}" class='btn btn_primary '>
                    <h3 class='post-name'>
                      {{i.cname}} {{i.modelno}}
                    </h3>
                  </a>
                  <a href ="{% url 'productdetails' i.id%}" class='btn btn_primary'>
                    <img src="{{i.image.url}}" width="300"/>
                  </a>
                  <p class='post-text text-muted h6'>
                    ₹{{i.price}} | {{i.category}}
                  </p>
                  <form>
                    <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HvekDwGd0bdxKf" async>
                    </script>
                    <a href="{% url 'cancel' i.id %}" class="btn btn-primary">
                      Cancel
                    </a> 
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  {% endblock content %}